Repository sourcier/friendly-broccoli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:pencil2: corrected docs for linking media dir.
  README.md
Due: prettier --write

:pencil2: corrected docs (again) for linking media dir.
  README.md
Due: prettier --write

:pencil2: corrected language in script block.
  README.md
Due: prettier --write

update tinacms schema and integrate all pages (#36)
  README.md
  packages/frontend/components/blocks/block-parser.tsx
  packages/frontend/components/blocks/blocks.tsx
  packages/frontend/components/blocks/index.ts
  packages/frontend/components/footer/footer.tsx
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/config.ts
  packages/frontend/lib/tinacms.ts
  packages/frontend/pages/[filename].tsx
  packages/frontend/pages/about-us.tsx
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/blog/index.tsx
  packages/frontend/pages/contact-us.tsx
  packages/frontend/pages/our-courses.tsx
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

migrate homepage to app router
  packages/frontend/app/global.css
  packages/frontend/app/layout.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/components/pages/home.tsx
  packages/frontend/next-env.d.ts
Due: eslint --fix

migrate marketing pages to app router
  packages/frontend/app/[filename]/page.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/pages/index.ts
  packages/frontend/components/pages/page.tsx
  packages/frontend/pages/[filename].tsx
Due: eslint --fix

update types
  packages/frontend/app/[filename]/page.tsx
Due: eslint --fix

migrate blog pages to app router
  packages/frontend/app/blog/[filename]/page.tsx
  packages/frontend/app/blog/page.tsx
  packages/frontend/components/pages/blog-post.tsx
  packages/frontend/components/pages/index.ts
  packages/frontend/components/pages/page.tsx
  packages/frontend/next-env.d.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/blog/index.tsx
  packages/frontend/pages/global.css
  packages/frontend/tina/config.ts
Due: eslint --fix

migrate from NextJS pages router to app router (#37)
  packages/frontend/app/[filename]/page.tsx
  packages/frontend/app/blog/[filename]/page.tsx
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/global.css
  packages/frontend/app/layout.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/components/pages/blog-post.tsx
  packages/frontend/components/pages/index.ts
  packages/frontend/components/pages/page.tsx
  packages/frontend/pages/[filename].tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/blog/index.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/tina/config.ts
Due: eslint --fix

migrate homepage to app router
  packages/frontend/next-env.d.ts
Due: eslint --fix

clean up data types
  packages/frontend/app/[filename]/page.tsx
  packages/frontend/app/blog/[filename]/page.tsx
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/pages/blog-post.tsx
  packages/frontend/components/pages/page.tsx
  packages/frontend/lib/tinacms.ts
Due: eslint --fix

migrate blog pages to app router
  packages/frontend/next-env.d.ts
Due: eslint --fix

clean up data types (#38)
  packages/frontend/app/[filename]/page.tsx
  packages/frontend/app/blog/[filename]/page.tsx
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/pages/blog-post.tsx
  packages/frontend/components/pages/page.tsx
  packages/frontend/lib/tinacms.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,json}
  eslint --fix: any of: *.{js,ts,tsx}
