Repository sourcier/friendly-broccoli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add placeholder pages (#19)
  packages/frontend/app/about-us/page.tsx
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/contact-us/page.tsx
  packages/frontend/app/our-courses/page.tsx
  packages/frontend/config.ts
Due: prettier --write, eslint --fix

add tinacms
  .eslintrc
  package-lock.json
  packages/frontend/.gitignore
  packages/frontend/content/posts/hello-world.md
  packages/frontend/next-env.d.ts
  packages/frontend/package.json
  packages/frontend/public/admin/.gitignore
  packages/frontend/src/pages/demo/blog/[filename].tsx
  packages/frontend/tina/.gitignore
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
  packages/frontend/tsconfig.json
Due: prettier --write, eslint --fix

switch to page router
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/layout.tsx
  packages/frontend/components/footer/footer.tsx
  packages/frontend/components/footer/index.ts
  packages/frontend/components/hero/hero.tsx
  packages/frontend/components/hero/index.ts
  packages/frontend/components/layout/layout.tsx
  packages/frontend/components/nav-bar/index.ts
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/config.ts
  packages/frontend/next-env.d.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/about-us.tsx
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/contact-us.tsx
  packages/frontend/pages/global.css
  packages/frontend/pages/index.tsx
  packages/frontend/pages/our-courses.tsx
  packages/frontend/tina/config.ts
Due: prettier --write, eslint --fix

create homepage collection
  packages/frontend/content/homepage/homepage.md
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

integrate homepage with tina
  packages/frontend/config.ts
  packages/frontend/content/homepage/homepage.md
  packages/frontend/pages/index.tsx
  packages/frontend/public/photo-1522202176988-66273c2fd55f.avif
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

update eslint to use prettier as a plugin
  .eslintrc
  package.json
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/index.tsx
Due: prettier --write, eslint --fix

update lint:ci to build tinacms files
  packages/frontend/package.json
Due: prettier --write

fix issue with eslint hanging in local dev env and failing in CI
  .envrc
  .eslintrc
  .github/workflows/github-actions.yml
  .lintstagedrc
  README.md
  packages/frontend/README.md
  packages/frontend/package.json
  packages/frontend/tina/config.ts
Due: prettier --write, eslint --fix

wire up tinacms client id and token for GA
  .github/workflows/github-actions.yml
Due: none

Add tinacms and integrate with blog and homepage (#20)
  .envrc
  .eslintrc
  .github/workflows/github-actions.yml
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/app/blog/page.tsx
  packages/frontend/app/layout.tsx
  packages/frontend/app/page.tsx
  packages/frontend/components/footer/footer.tsx
  packages/frontend/components/footer/index.ts
  packages/frontend/components/hero/hero.tsx
  packages/frontend/components/hero/index.ts
  packages/frontend/components/layout/layout.tsx
  packages/frontend/components/nav-bar/index.ts
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/config.ts
  packages/frontend/content/homepage/homepage.md
  packages/frontend/content/posts/hello-world.md
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/about-us.tsx
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/contact-us.tsx
  packages/frontend/pages/global.css
  packages/frontend/pages/index.tsx
  packages/frontend/pages/our-courses.tsx
  packages/frontend/public/admin/.gitignore
  packages/frontend/public/photo-1522202176988-66273c2fd55f.avif
  packages/frontend/tina/.gitignore
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
  packages/frontend/tsconfig.json
Due: prettier --write, eslint --fix

dont skip tinacms cloud checks
  packages/frontend/package.json
Due: prettier --write

dont skip tinacms cloud checks (#21)
  packages/frontend/package.json
Due: prettier --write

fix build
  .github/workflows/github-actions.yml
  .husky/pre-commit
  README.md
  package.json
  packages/frontend/config.ts
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/index.tsx
  packages/frontend/postcss.config.cjs
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

fix build (#22)
  .github/workflows/github-actions.yml
  .husky/pre-commit
  README.md
  package.json
  packages/frontend/config.ts
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/index.tsx
  packages/frontend/postcss.config.cjs
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

remove type module from frontend package.json
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

remove type module from frontend package.json (#23)
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

setup custom domains
  packages/stacks/FrontendStack.ts
Due: prettier --write, eslint --fix

setup custom domains (#24)
  packages/stacks/FrontendStack.ts
Due: prettier --write, eslint --fix

update custom domain details
  packages/stacks/FrontendStack.ts
Due: prettier --write, eslint --fix

update custom domain details (#25)
  packages/stacks/FrontendStack.ts
Due: prettier --write, eslint --fix

Move content to a seperate repo
  README.md
  packages/frontend/README.md
  packages/frontend/content/homepage/homepage.md
  packages/frontend/content/posts/hello-world.md
  packages/frontend/postcss.config.js
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

skip tinacms cloudchecks
  packages/frontend/package.json
Due: prettier --write

Move content to a seperate repo (#26)
  README.md
  packages/frontend/README.md
  packages/frontend/content/homepage/homepage.md
  packages/frontend/content/posts/hello-world.md
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

add ui.router config to tinacms and restore postcss config
  packages/frontend/postcss.config.js
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

update media folder and remove image
  packages/frontend/public/photo-1522202176988-66273c2fd55f.avif
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

add ui.router config to tinacms and restore postcss config (#27)
  packages/frontend/postcss.config.js
  packages/frontend/public/photo-1522202176988-66273c2fd55f.avif
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

customise blog post slug creation
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

customise blog post slug creation (#28)
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

prevent tina-lock.json from being rewritten
  .prettierignore
  packages/frontend/tina/tina-lock.json
Due: prettier --write

prevent tina-lock.json from being rewritten (#29)
  .prettierignore
  packages/frontend/tina/tina-lock.json
Due: prettier --write

remove tinacms skip cloud check and set NODE_ENV to production for next build
  packages/frontend/package.json
Due: prettier --write

remove tinacms skip cloud check and set NODE_ENV to production for next build (#30)
  packages/frontend/package.json
Due: prettier --write

update docs on content shema
  packages/frontend/README.md
Due: prettier --write

update docs on content shema (#31)
  packages/frontend/README.md
Due: prettier --write

update tinacms config to make images load in local dev
  README.md
  packages/frontend/public/.gitignore
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

update tinacms config to make images load in local dev (#32)
  README.md
  packages/frontend/public/.gitignore
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

setup tinacms to use cloudinary as a media store
  package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/[media].ts
  packages/frontend/tina/config.ts
Due: prettier --write, eslint --fix

setup colors for tailwindcss
  packages/frontend/tailwind.config.js
Due: prettier --write, eslint --fix

setup colors for tailwindcss (#35)
  packages/frontend/tailwind.config.js
Due: prettier --write, eslint --fix

update tinacms schema and integrate all pages
  packages/frontend/components/blocks/block-parser.tsx
  packages/frontend/components/blocks/blocks.tsx
  packages/frontend/components/blocks/index.ts
  packages/frontend/components/footer/footer.tsx
  packages/frontend/components/nav-bar/nav-bar.tsx
  packages/frontend/config.ts
  packages/frontend/lib/tinacms.ts
  packages/frontend/pages/[filename].tsx
  packages/frontend/pages/about-us.tsx
  packages/frontend/pages/blog/[filename].tsx
  packages/frontend/pages/blog/index.tsx
  packages/frontend/pages/contact-us.tsx
  packages/frontend/pages/our-courses.tsx
  packages/frontend/tina/config.ts
  packages/frontend/tina/tina-lock.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,md,json}
  eslint --fix: any of: *.{js,ts,tsx}
